

.contact-list-container {
    border: 1px solid rgb(51, 109, 51);
    border-radius: 10px;
    background-color: #afc799;

}


.btn {
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    border: 1px solid #07490a;
    border-radius: 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset,
        0 1px 3px rgba(0, 0, 0, .2);
    background-image: linear-gradient(rgb(11, 131, 11) 10%, #2dd36c 100%);
}

.btn:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

.btn:hover,
.btn-3d:focus {
    background-color: #e0811b;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #056927), to(rgb(39, 128, 69)));
    background-image: linear-gradient(#056927 10%, rgb(13, 99, 24) 100%);
}

.btn:active {
    background-color: #20d129;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2) inset;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #31e740), to(rgb(7, 122, 22)));
    background-image: linear-gradient(#75dd38 10%, rgb(24, 122, 4) 100%);

}


.contact-container2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btm-cont {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    height: 90px;
}

.btm-cont i{
    display: flex;
    align-items: center;
    flex-direction: column;
}


@media (max-width: 438px){
    .contact-container {
        font-size: x-small;}
    }
@media (min-width: 1000px){
    .contact-container {
        font-size: small;}
    }

@media  (min-width: 1400px) {
    .contact-container {
        font-size: medium;
        height: 65px;

    }
    
}

@media  (min-width: 2000px) {
    .contact-container {
        font-size: large;
        height: 110px;
    }
    
}

